/* ---------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- BASE --- --- --- --- --- --- --- --- --- */
/* ---------------------------------------------------------------------------- */

/* --- custom font --- */
@font-face {
    font-family: "Humane";
    src: url('assets/fonts/Humane-Bold.otf') format("opentype");;
    font-weight: bold;
}

/* @font-face {
    font-family: "Humane";
    src: url('./assets/fonts/Humane-SemiBold.otf') format("opentype");;
    font-weight: semi-bold;
}

@font-face {
    font-family: "Humane";
    src: url('./assets/fonts/Humane-Medium.otf') format("opentype");;
    font-weight: medium;
}

@font-face {
    font-family: "Humane";
    src: url('./assets/fonts/Humane-Regular.otf') format("opentype");;
    font-weight: regular;
}

@font-face {
    font-family: "Humane";
    src: url('./assets/fonts/Humane-Thin.otf') format("opentype");;
    font-weight: thin;
}

@font-face {
    font-family: "Humane";
    src: url('./assets/fonts/Humane-Light.otf') format("opentype");;
    font-weight: light;
} */

@font-face {
    font-family: "Articulat";
    src: url('./assets/fonts/ArticulatCF-Bold.otf') format("opentype");;
    font-weight: bold;
}

@font-face {
    font-family: "Articulat";
    src: url('./assets/fonts/ArticulatCF-Regular.otf') format("opentype");;
    font-weight: normal;
}

@font-face {
    font-family: "Articulat";
    src: url('./assets/fonts/ArticulatCF-Medium.otf') format("opentype");;
    font-weight: 500;
}

@font-face {
    font-family: "Articulat";
    src: url('./assets/fonts/ArticulatCF-Light.otf') format("opentype");;
    font-weight: light;
}
/* E4DFDB;*/
:root {
    --main-background: #CDC7C2;
    --transition-color: #E4DFDB;
    --main-text-color:#21242C;
    --title-font: 7rem "Humane", 'sans-serif';
    --paragraph-font: normal 14px 'Articulat', 'sans-serif';
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background: #21242C;
        --main-text-color: #CDC7C2;
    } 
}


/* ------------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- MAIN ELEMENTS --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------------- */

html {
    color-scheme: light dark;
}

body {
    margin: 0px;
    padding: 0px;
    background: var(--main-background);
	color: var(--main-text-color);
    cursor: none;
    /*cursor: url('./assets/icons/icon-cursor-black.svg'), auto;*/
}
.container {
    padding: 0;
    margin: 0;
}
#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
  }
  
  #cursor-border {
    --size: 50px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
      height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;
  }

p {
    font: var(--paragraph-font);
    color: var(--main-text-color);
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h6{
    margin: 0px;
    padding: 0px;
}

[data-theme="light"] {
    color-scheme: light;
    --main-background: #CDC7C2;
    --main-text-color:#21242C;
}
[data-theme="dark"] {
    color-scheme: dark;
    --main-background: #21242C;
    --main-text-color: #CDC7C2;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* slightly bigger height for animation in later section */
    min-height: 100svh;
}
.sub-section {
    /* margin for navbar */
    padding: 50px;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    min-height: calc(100svh - 110px);
    overflow-x: hidden;
}
.mobile-only {
    display: none;
}

  /* Medium devices / tablets 770 - 1030 width*/
  @media only screen and (max-width: 1030px) {
    
  }
  /* Medium devices / tablets 770 - 1030 width*/
  @media only screen and (max-width: 1030px) {
    .sub-section {
        min-height: 60svh;
    }
  }

/* Small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
    .mobile-only {
        display: block;
    }
}
/* ------------------------------------------------------------------------------ */
/* --- --- --- --- --- --- --- --- --- NAVBAR --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------ */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* positioning always up-top */
    position: sticky;
    top: 0px;
    z-index: 4;
    background-color: var(--main-background);
}

.navbar-logo {
    height: 70px;
    width: auto;
    margin: 20px;
    object-fit: contain;
}
.hor-line {
    flex-grow: 3;
    border-bottom: 1px solid var(--main-text-color);
    margin: 20px;
}
.navbar-link {
    text-decoration: none;
    color: var(--main-text-color);
    font: var(--paragraph-font);
    letter-spacing: 1px;
    margin: 20px;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
}
.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: var(--main-text-color);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }

  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  /* Medium devices / tablets 770 - 1030 width*/
@media only screen and (max-width: 1030px) {

}
/* Medium devices / tablets 500px - 770px */
@media only screen and (max-width: 770px) {

}
/* Small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
    .nav {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
    }
    .hamburger {
        display: block;
        margin: 20px;
    }
    .main-menu {
        grid-column: 1 /  4;
        display: flex;
        flex-direction: column;
    }

    .hor-line {
        border-bottom: 3px solid var(--main-background);
    }
}

/* ---------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- HOME --- --- --- --- --- --- --- --- --- */
/* ---------------------------------------------------------------------------- */


#home {
    position: relative;
    height: calc(100svh - 110px);
}

.outline-text {
    /* half the screen minus margin */
    width: calc(50svw - 30px);
    height:auto;
    left: 0px;
    margin: 0 15px;
}
.outline-text-div {
    display: flex;
}
.outline-container, .outline-container2 {
    display: flex;
}
.main-title {
    font: var(--title-font);
    color: var(--main-text-color);
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}
.single-letter, .single-letter2 {
    position: relative;
    margin-right: 5px;
    top: 7rem;
}
.main-title-div {
    /* height: 8rem; */
    width: 70svw; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
    top: calc(50% - 3.5rem);
    left: calc(50% - 35svw);
    overflow: hidden;
}
.sub-title {
    font-size: 5rem;
    margin-bottom: 30px;
}
.overlay {
    overflow: hidden;
    align-self: flex-start;
}

  /* Medium devices / tablets 770 - 1030 width*/
  @media only screen and (max-width: 1030px) {
    .outline-text {
        height: 300px;
        width: auto;
        margin: 0 15px;
    }
    #home .outline-text:nth-child(2) {
        display: none;
    }
  }

  /* Small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
    .main-title {
        text-align: center;
    }
    
}

/* ----------------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- PROJECTS PREVIEWS --- --- --- --- --- --- --- --- --- */
/* ----------------------------------------------------------------------------------------- */
#projects {
    position: relative;
    overflow: hidden;
}


.project-preview {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 1px solid var(--main-text-color);
    position: relative;
    right: 0;
    transform: translateX(0);
    opacity: 1;
}
.project-preview:last-child {
    border-bottom: 1px solid var(--main-text-color);
}

.project-number {
    font: var(--paragraph-font);
    font-size: 32px;
    font-weight: light;
    padding-right: 30px;
    margin: 10px;

}

.project-title-div {

}

.project-title {
    font-family: 'Articulat';
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 32px;
    margin: 10px;
}

.tools-div {
    display: flex;
}

.tool-name {
    font-size: 10px;
    border: 0.5px solid var(--main-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}
.open-project-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
    justify-self: end;
    margin: 10px;
    position: absolute;
    right: 0px;
}
.preview-video {
    z-index: 10;
    display: none;
    border-radius: 10px;
    height: 310px;
    width: 550px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: calc(50% - 155px);
    overflow: hidden;
}

.project-preview:hover {
    cursor: pointer;
    .project-title, .project-number {
        font-weight: bold;
    }
    .preview-image {
        display: flex;
    }
}

.splitted-text1, .splitted-text2 {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

  /* Small devices (phones, 500px and down) */
  @media only screen and (max-width: 500px) {
    .sub-section {
         padding: 20px;
    }
    .project-preview {
        height: fit-content;
    }
    .project-number {
        font-size: 24px;
        margin: 5px;
    }
    .project-title-div {
        display: flex;
        flex-direction: column;
    }
    .project-title {
        letter-spacing: 5px;
        font-size: 24px;
        margin: 5px;
    }
    .tools-div {
        margin: 10px 0px;
        flex-wrap: wrap;
        height: fit-content;
    }
    .tools-div p {
        display: flex;
    }
}

/* ------------------------------------------------------------------------------ */
/* --- --- --- --- --- --- --- --- --- SKILLS --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------ */
#skills {
    /* height: calc(100svh - 110px); */
    align-items: flex-start;
}
.skills-content {
    display: flex;
    gap: 60px;
}
.skills-subtitle {
    font: var(--paragraph-font);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hor-line2 {
    align-self: flex-start;
    display: flex;
    margin: 0px 0px 10px 0px;
    width: 100%;
    border-bottom: 1.5px solid var(--main-text-color);
}
.skills-div-subgroup {
    width: 40svw;
    margin-bottom: 70px;
    /* for gsap anim */
    opacity: 1;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}
.skills-div-subgroup p {
    font: var(--paragraph-font);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

  @media only screen and (max-width: 500px) {
    .skills-content {
        flex-direction: column;
        gap: 0px;
    }
    .skills-div-subgroup {
        width: 100%;
    }
  }
/* ------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- CONTACT --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------- */
#contact {
    height: calc(100svh - 110px);
    position: relative;
}
.contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact-div .overlay {
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 14rem);
}
/* this is for contact image with additional class .outline-text */
.contact {
    height: 60svh;
    width: auto;
}
.regular-button {
    width: fit-content;
    align-self: center;
    color: white;
    background-color: var(--main-text-color);
    outline: none;
    border: none;
    text-decoration: none;
    font: var(--paragraph-font);
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 90px;
    margin-top: 40px;
    cursor: none; 
    transition: 0.5s;
}
.regular-button:hover {
    padding: 10px 120px;
}
.contact-button {
    position: absolute;
    margin-top: 40px;
    top: 60%;
}
  /* Medium devices / tablets 770 - 1030 width*/
  @media only screen and (max-width: 1030px) {
    #contact { 
        height: 60svh;
    }
    /* additional settings for outline text in contact section */
    .contact {
        width: 90svw;
        height: auto;
    }
    .contact-div {
        flex-direction: column;
    }
    #contact .main-title {
        font-size: 5rem;
    }
  }

/* ------------------------------------------------------------------------------ */
/* --- --- --- --- --- --- --- --- --- FOOTER --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------ */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    padding: 20px;
    border-top: 1px solid var(--main-text-color);
}

.footer-text {
}

.footer-socials {

}

.footer-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin-left: 10px
}
.footer-icon-link {
    text-decoration: none;
}

/* -------------------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- ACTUAL PROJECTS PAGE --- --- --- --- --- --- --- --- --- */
/* -------------------------------------------------------------------------------------------- */
/* initially this div is not visible */
#project-full-info {
    display: none;
}
.project-info {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding-top: 40px;
    position: relative;
}
.project-main-information {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}
.project-info .outline-text-div {
    position: relative;
}
.project-info .main-title-div {
    position: absolute;
    top: calc(100% - 6rem);
    left: 0;
    flex-direction: column;
    align-items: flex-start;
}
.project-info .main-title {
    font-size: 5rem;
}
.project-info .tools-div {
    margin-top: 30px;
}
.project-info .outline-text {
    width: calc(33svw - 10px);
    margin: 0 5px;
}
#functionalities-div {
    padding: 0px;
    margin-bottom: 50px;
}

.paragraph {
    font: var(--paragraph-font);
    margin: 30px 0px 30px 0px;
    max-width: 50svw;
}
#functionalities-div p {
    margin: 10px 0px 10px 0px;
}
.bolder {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 50px;
}
.sub-title-number {
    margin: 0px 0px 5px 0px;
}

.project-main-image {
    object-fit: contain;
    width: 100%;
    height: auto;
    align-self: center;
}
.project-main-video {
    align-self: center;
}

/* also regular-button */
.page-visit {
    align-self: center;
    margin: 100px 0px 0px 0px;
}

/* Medium devices / tablets 770 - 1030 width*/
@media only screen and (max-width: 1030px) {
    .paragraph {
        max-width: 100%;
    }
    .project-info .tools-div {
        margin-top: 0px;
    }
    
    .project-info .outline-text {
        width: calc(66svw - 5px);
        margin: 0 5px;
    }
    .project-info .main-title-div {
        top: calc(80% - 6rem);
        left: 25px;
    }
}
/* Small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
    .project-main-information {
        margin: 0px 20px;
    }
    .project-info .regular-button {
        font-size: 14px;
        padding: 10px 60px;
    }
    .project-info .outline-text {
        width: calc(100svw - 5px);
    }
    .project-info .main-title-div {
        top: calc(70% - 6rem);
    }
}

/* ----------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- TRANSITIONS --- --- --- --- --- --- --- --- --- */
/* ----------------------------------------------------------------------------------- */
.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    min-height: 200svh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    list-style-type: none;
}
.transition li {
    transform: scaleY(0);
    background-color: var(--transition-color);
    width: 20%;
}
/* ------------------------------------------------------------------------------ */
/* --- --- --- --- --- --- --- --- --- OTHERS --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------ */



/* --- SCROLLBAR --- */

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: transparent;
  background-clip: padding-box;
  margin-top: 60px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: var(--main-text-color);
  background-clip: padding-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #908397;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  }
  
  
  /* --- INSPECTIONS --- */
  /* * {
    outline: 1px solid #f00 !important;
  } */